<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/extjs34/ext-all.css")
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/ext34/ext-base-debug.js")
    @Scripts.Render("~/Scripts/ext34/ext-all-debug.js")
     @Scripts.Render("~/Scripts/ext34/ux-all-debug.js")
    @RenderSection("JavaScript", required: false)
  
</body>
</html>
