<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/ext-theme-classic/ext-theme-classic-all-debug.css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/Ext/ext-all-debug.js")
    @Scripts.Render("~/Scripts/store/DummyStore.js")
    @RenderSection("JavaScript", required: false)
</body>
</html>
